$block: "greeting";
$breakpoint: 960px;

.#{$block} {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  @media screen and (min-width: $breakpoint) {
    height: 100vh;
    flex-direction: row;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem;
    z-index: 1;
    flex: 0 0 7rem;
    width: 100%;
    max-width: 150px;
   
    &-face {
      width: 100%;
      z-index: 10;
      position: absolute;
      overflow: visible !important;
      z-index: 10;
    }
    
    &-shape-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }
    
    &-shape {
      position: absolute;
      width: 100%;
      height: 50%;
      mix-blend-mode: saturation;
      opacity: .7;
      transition: border-radius 4s ease-in-out, transform 4s ease-in-out;
      will-change: border-radius, transform;
  
      &--1 {
        border-radius: 76% 24% 68% 32% / 53% 26% 74% 47%;
        transform: rotate(-165deg);
        background-image: linear-gradient(45deg, #fffbd5 0%, #b20a2c 100%);
        width: 240px;
        height: 200px;
      }
      &--2 {
        border-radius: 27% 73% 35% 65% / 15% 68% 32% 85%;
        transform: rotate(33deg);
        background-image: linear-gradient(45deg, #22c1c3 0%, #fdbb2d 100%);
        width: 220px;
        height: 160px;
      }
      &--3 {
        border-radius: 39% 61% 55% 45% / 49% 68% 32% 51%;
        transform: rotate(10deg);
        background-image: linear-gradient(45deg, rgb(143, 121, 221) 0%, rgb(52, 50, 189) 100%);
        width: 200px;
        height: 200px;
      }
    }
  }

  &__container {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
  }
  &__column {
    :first-child {
      max-width: 70%;
    }
  }
  &__heading {
    font-size: 3rem;
    
    @media screen and (min-width: $breakpoint) {
      font-size: 5rem;
    }

  }
  &__emoji {
    display: inline-block;
    &--wave {
      animation: wave 1s 2s;
      transform-origin: bottom center;
    }
    &--tada {
      animation: tada 1s 2s;
    }
    &--purple {
      animation: purple 1s 2s forwards;
      &:before {
        content: "🛸";
        opacity: 0;
        position: absolute;
        animation: appear .5s 3s forwards;
      }
    }
    &--bump {
      animation: bump 1s 2s;
    }
    &--shake {
      animation: shake 1s 2s;
    }
  }
  &__lead {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.6;
  }
}